/* Navbar Styling */
.navbar {
  background-color: #007bff; /* Blue background */
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* border-radius: 1rem; */
}
.btn {
  margin: 0.5rem;
  cursor: pointer;
}
.navbarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.navbarlogo h1 {
  color: white;
  font-size: 1.5rem;
  font-family: "Arial", sans-serif;
}

.navlinks {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  gap: 2rem;
}

.navlinks li {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* display: inline-block; */
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

/* .navlinks li a:hover {
  color: #ffdd57; 
} */

/* .navlinks li a:active {
  background-color: #04aa6d;} */

.navsearch input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.navsearch input:focus {
  outline: none;
  border: 2px solid #ffdd57; /* Focus border */
}
